{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{% load media_buttons %}

<!DOCTYPE html>
<html class=''>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">{{room.settings}}</h1>
            </div>
            {% for btn in buttons %}
            <div class="col-6" style="margin-top:30px">
                {% button btn %}
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 text-center" style="margin-top: 30px;">
                <a class="btn btn-primary" href="{% url 'index' %}">Back To Players</a>
            </div>
        </div>
    </body>
    <script>
        var buttons = document.getElementsByTagName("button");
        
        var room = "{{room}}";

        var playerSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/player/' + '?room=' + room);

        Array.prototype.forEach.call(buttons, function (button) {
            button.onclick = function () {
                var self = this;
                playerSocket.send(JSON.stringify({
                    'action': self.value,
                    'room_id': room
                }))
            }
        });
    </script>
</html>